<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/site/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/site/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/site/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/site/assets/images/icons/site.html">
    <link rel="mask-icon" href="/site/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/site/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/site/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/site/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/site/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/site/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/site/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/site/assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/site/assets/css/style.css">
    <link rel="stylesheet" href="/site/assets/css/skins/skin-demo-3.css">
    <link rel="stylesheet" href="/site/assets/css/demos/demo-3.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/site/assets/css/demos/demo-22.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        .header-customer h2 {
            position: relative;
            display: inline-block;
            padding: 10px 20px;
            background-color: #3caea3;
            color: #fff;
            font-size: 24px;
        }

        .header-customer h2::before,
        .header-customer h2::after {
            content: "";
            position: absolute;
            border: 2px solid #fff;
        }

        .header-customer h2::before {
            top: -10px;
            left: -10px;
            width: calc(100% + 20px);
            height: calc(100% + 20px);
            transform: rotate(5deg);
        }

        .header-customer h2::after {

            bottom: -10px;
            right: -10px;
            width: calc(100% + 20px);
            height: calc(100% + 20px);
            transform: rotate(-5deg);
        }
    </style>
</head>

<body>
    <div class="page-wrapper" >
      
    <th:block th:replace="site/menu :: menu"></th:block>

        <main class="main">
            <div class="intro-section pt-3 pb-3 mb-2">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="intro-slider-container slider-container-ratio mb-2 mb-lg-0">
                                <div class="intro-slider owl-carousel owl-simple owl-dark owl-nav-inside"
                                    data-toggle="owl" data-owl-options='{
                                        "nav": false, 
                                        "dots": true,
                                        "responsive": {
                                            "768": {
                                                "nav": true,
                                                "dots": false
                                            }
                                        }
                                    }'>
                                    <div class="intro-slide">
                                        <figure class="slide-image">
                                            <picture>
                                                <source media="(max-width: 480px)"
                                                    srcset="/site/assets/images/demos/demo-3/slider/slide-1-480w.jpg">
                                                <img src="/site/assets/images/demos/demo-3/slider/slide-1.jpg"
                                                    alt="Image Desc">
                                            </picture>
                                        </figure><!-- End .slide-image -->

                                        <div class="intro-content">
                                            <h3 class="intro-subtitle text-primary">Ưu đãi hàng ngày</h3>
                                            <!-- End .h3 intro-subtitle -->
                                            <h1 class="intro-title">
                                                AirPods <br>Earphones
                                            </h1><!-- End .intro-title -->

                                            <div class="intro-price">
                                                <sup>Hôm nay:</sup>
                                                <span class="text-primary">
                                                    9.000.000 VNĐ
                                                </span>
                                            </div><!-- End .intro-price -->

                                            <a href="category.html" class="btn btn-primary btn-round">
                                                <span>Click Here</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </a>
                                        </div><!-- End .intro-content -->
                                    </div><!-- End .intro-slide -->

                                    <div class="intro-slide">
                                        <figure class="slide-image">
                                            <picture>
                                                <source media="(max-width: 480px)"
                                                    srcset="/site/assets/images/demos/demo-3/slider/slide-2-480w.jpg">
                                                <img src="/site/assets/images/demos/demo-3/slider/slide-2.jpg"
                                                    alt="Image Desc">
                                            </picture>
                                        </figure><!-- End .slide-image -->

                                        <div class="intro-content">
                                            <h3 class="intro-subtitle text-primary">Deals and Promotions</h3>
                                            <!-- End .h3 intro-subtitle -->
                                            <h1 class="intro-title">
                                                Echo Dot <br>3rd Gen
                                            </h1><!-- End .intro-title -->

                                            <div class="intro-price">
                                                <sup class="intro-old-price">$49,99</sup>
                                                <span class="text-primary">
                                                    $29<sup>.99</sup>
                                                </span>
                                            </div><!-- End .intro-price -->

                                            <a href="category.html" class="btn btn-primary btn-round">
                                                <span>Click Here</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </a>
                                        </div><!-- End .intro-content -->
                                    </div><!-- End .intro-slide -->
                                </div><!-- End .intro-slider owl-carousel owl-simple -->

                                <span class="slider-loader"></span><!-- End .slider-loader -->
                            </div><!-- End .intro-slider-container -->
                        </div><!-- End .col-lg-8 -->

                        <div class="col-lg-4">
                            <div class="intro-banners">
                                <div class="banner mb-lg-1 mb-xl-2">
                                    <a href="#">
                                        <img src="/site/assets/images/demos/demo-3/banners/banner-1.jpg" alt="Banner">
                                    </a>

                                    <div class="banner-content">
                                        <h4 class="banner-subtitle d-lg-none d-xl-block"><a href="#">Các sản phẩm hot</a>
                                        </h4><!-- End .banner-subtitle -->
                                        <h3 class="banner-title"><a href="#">Các sản phẩm <br>hiện đại</a></h3>
                                        <!-- End .banner-title -->
                                        <a href="/dtdd" class="banner-link">Mua sắm ngay<i
                                                class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->

                                <div class="banner mb-lg-1 mb-xl-2">
                                    <a href="#">
                                        <img src="/site/assets/images/demos/demo-3/banners/banner-2.jpg" alt="Banner">
                                    </a>

                                    <div class="banner-content">
                                        <h4 class="banner-subtitle d-lg-none d-xl-block"><a href="#">Luôn giảm giá</a></h4>
                                        <!-- End .banner-subtitle -->
                                        <h3 class="banner-title"><a href="#">Giảm giá hàng ngày <span>
                                                    </span></a></h3><!-- End .banner-title -->
                                                    <a href="/dtdd" class="banner-link">Mua sắm ngay<i
                                                        class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->

                                <div class="banner mb-0">
                                    <a href="#">
                                        <img src="/site/assets/images/demos/demo-3/banners/banner-3.jpg" alt="Banner">
                                    </a>

                                    <div class="banner-content">
                                        <h4 class="banner-subtitle d-lg-none d-xl-block"><a href="#">Free ship toàn quốc</a></h4>
                                        <!-- End .banner-subtitle -->
                                        <h3 class="banner-title"><a href="#">Mua sắm ngay <span>Deal hời mỗi ngày
                                                    </span></a></h3><!-- End .banner-title -->
                                                    <a href="/dtdd" class="banner-link">Mua sắm ngay<i
                                                        class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->
                            </div><!-- End .intro-banners -->
                        </div><!-- End .col-lg-4 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .intro-section -->


            <div class="container p-5">

                <div class="container">
                    <div class="heading heading-flex mb-2">
                        <div class="heading-left">
                            <h2 class="title mb-5">Gợi ý hôm nay</h2><!-- End .title -->
                        </div><!-- End .heading-left -->

                        <div class="heading-right">
                            <a href="/dtdd" class="title-link">Xem thêm sản phẩm <i
                                    class="icon-long-arrow-right"></i></a>
                        </div>
                        <!-- End .heading-right -->
                    </div>
                    <!-- End .heading -->

                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                        data-owl-options='{
                        "nav": false, 
                        "dots": true,
                        "margin": 20,
                        "loop": false,
                        "responsive": {
                            "0": {
                                "items":2
                            },
                            "480": {
                                "items":2
                            },
                            "768": {
                                "items":3
                            },
                            "992": {
                                "items":4
                            },
                            "1200": {
                                "items":5,
                                "nav": true
                            }
                        }
                    }'>
                        <div class="product" th:each="product : ${listRand}">
                            <figure class="product-media">
                                <span class="product-label label-new">New</span>
                                <a href="product.html">
                                    <img th:src="@{'/phonestore/images/'+${product.image}}" alt="Product image"
                                        class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist" title="Add to Wishlist"><span>add
                                            to
                                            wishlist</span></a>
                                </div><!-- End .product-action-vertical -->

                                <div class="product-action">
                                    <a th:href="@{'/vandustore/'+${product.categoryCode}+'/'+${product.productCode}}" class="btn-product"><span>Xem chi tiết</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <h3 class="product-title"><a href="product.html" th:text="${product.name}"></a></h3>
                                <!-- End .product-title -->
                                <div class="product-price"
                                    th:text="${#numbers.formatDecimal(product.price, 3,  'POINT', 0 , 'COMMA')} + ' VNĐ'"
                                    style="font-size: 22px;">

                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->








                    </div><!-- End .owl-carousel -->

                    <div class="mb-5"></div><!-- End .mb-4 -->
                </div><!-- End .container -->
                <div class="container">
                    <div class="cta cta-border cta-border-image mb-5 mb-lg-7"
                        style="background-image: url(/site/assets/images/demos/demo-3/bg-1.jpg);">
                        <div class="cta-border-wrapper bg-white">
                            <div class="row justify-content-center">
                                <div class="col-md-11 col-xl-11">
                                    <div class="cta-content">
                                        <div class="cta-heading">
                                            <h3 class="cta-title text-right"><span class="text-primary">Ưu đãi</span>
                                                <br>Ưu đãi hàng loạt trong ngày
                                            </h3><!-- End .cta-title -->
                                        </div><!-- End .cta-heading -->

                                        <div class="cta-text">
                                            <p> <span class="text-dark font-weight-normal">Free ship toàn quốc</span>
                                                <br>giao hàn cả thứ 7 và chủ nhật
                                            </p>
                                        </div><!-- End .cta-text -->
                                        <a href="#" class="btn btn-primary btn-round"><span>Mua sắm ngay
                                            </span><i class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .cta-content -->
                                </div><!-- End .col-xl-7 -->
                            </div><!-- End .row -->
                        </div><!-- End .bg-white -->
                    </div><!-- End .cta -->
                </div><!-- End .container -->


                <div class="container popular">
                    <hr class="mb-5">

                    <div class="section-title mb-5 ">
                        <div>
                            <p class="title text-white"><span>Điện thoại</span></p>
                        </div>

                        <a class="link" href="#">See All Products</a>
                    </div>

                    <div class="row products">
                        <div class="col-6 col-md-4 col-lg-3 col-xl-5col" th:each="product : ${listPhones}">
                            <div class="product">
                                <figure class="product-media ">
                                    <span class="product-label label-new">New</span>
                                    <a th:href="@{'/vandustore/'+${product.categoryCode}+'/'+${product.productCode}}">
                                        <img th:src="@{'/phonestore/images/'+${product.image}}" alt="Product image"
                                            class="product-image">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist"
                                            title="Add to Wishlist"><span>add to
                                                wishlist</span></a>
                                    </div><!-- End .product-action-vertical -->

                                    <div class="product-action">
                                        <a th:href="@{'/vandustore/'+${product.categoryCode}+'/'+${product.productCode}}" class="btn-product"><span>Xem chi tiết</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <h3 class="product-title"><a href="product.html" th:text="${product.name}"></a>
                                    </h3><!-- End .product-title -->
                                    <div class="product-price"
                                        th:text="${#numbers.formatDecimal(product.price, 3,  'POINT', 0 , 'COMMA')} + ' VNĐ'"
                                        style="font-size: 22px;">

                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                    </div><!-- End .row -->
                    <div class="more-container text-center mt-3 mb-0 mb-4">
                        <a href="#" class="btn btn-outline-dark-2 btn-round btn-more"><span>Xem thêm</span></a>
                    </div><!-- End .more-container -->
                </div>


                <div class="container my-4">
                    <div class="w-100">
                        <img src="https://cdn.hoanghamobile.com/i/home/Uploads/2023/05/06/taba8-chuyenmuc.jpg" alt=""
                            class="w-100">
                    </div>
                </div>

                <div class="container">
                    <div class="owl-carousel mt-5 mb-5 owl-simple" data-toggle="owl" data-owl-options='{
                            "nav": false, 
                            "dots": false,
                            "margin": 30,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":2
                                },
                                "420": {
                                    "items":3
                                },
                                "600": {
                                    "items":4
                                },
                                "900": {
                                    "items":5
                                },
                                "1024": {
                                    "items":6
                                }
                            }
                        }'>
                        <a href="#" class="brand">
                            <img src="/site/assets/images/brands/1.png" alt="Brand Name">
                        </a>

                        <a href="#" class="brand">
                            <img src="/site/assets/images/brands/2.png" alt="Brand Name">
                        </a>

                        <a href="#" class="brand">
                            <img src="/site/assets/images/brands/3.png" alt="Brand Name">
                        </a>

                        <a href="#" class="brand">
                            <img src="/site/assets/images/brands/4.png" alt="Brand Name">
                        </a>

                        <a href="#" class="brand">
                            <img src="/site/assets/images/brands/5.png" alt="Brand Name">
                        </a>

                        <a href="#" class="brand">
                            <img src="/site/assets/images/brands/6.png" alt="Brand Name">
                        </a>
                    </div><!-- End .owl-carousel -->
                </div><!-- End .container -->

                <div class="container">
                    <hr class="mt-3 mb-6">
                </div><!-- End .container -->

                

                <div class="container">
                    <hr class="mt-5 mb-6">
                </div><!-- End .container -->


            </div><!-- End .container -->



            <div class="container">
                <hr class="mt-5 mb-0">
            </div><!-- End .container -->

            <div class="icon-boxes-container mt-2 mb-2 bg-transparent">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="icon-rocket"></i>
                                </span>
                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Miễn phí vẫn chuyển</h3><!-- End .icon-box-title -->
                                    <p>Orders $50 or more</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="icon-rotate-left"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Được trả hàng</h3><!-- End .icon-box-title -->
                                    <p>Within 30 days</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="icon-info-circle"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Get 20% Off 1 Item</h3><!-- End .icon-box-title -->
                                    <p>when you sign up</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="icon-life-ring"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Hổ trợ 24/7</h3><!-- End .icon-box-title -->
                                    <p>24/7 amazing services</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .icon-boxes-container -->


        </main><!-- End .main -->

        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <img src="/site/assets/images/demos/demo-3/logo-footer.png" class="footer-logo"
                                    alt="Footer Logo" width="105" height="25">
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate
                                    magna eros eu erat. </p>

                                <div class="widget-call">
                                    <i class="icon-phone"></i>
                                    Got Question? Call us 24/7
                                    <a href="tel:#">+0123 456 789</a>
                                </div><!-- End .widget-call -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="about.html">About Molla</a></li>
                                    <li><a href="#">Our Services</a></li>
                                    <li><a href="#">How to shop on Molla</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Sign In</a></li>
                                    <li><a href="cart.html">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                    <!-- End .footer-copyright -->
                    <figure class="footer-payments">
                        <img src="/site/assets/images/payments.png" alt="Payment methods" width="272" height="20">
                    </figure><!-- End .footer-payments -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->






    <!-- <div class="container newsletter-popup-container mfp-hide" id="newsletter-popup-form">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row no-gutters bg-white newsletter-popup-content">
                    <div class="col-xl-3-5col col-lg-7 banner-content-wrap">
                        <div class="banner-content text-center">
                            <img src="site/assets/images/popup/newsletter/logo.png" class="logo" alt="logo" width="60"
                                height="15">
                            <h2 class="banner-title">get <span>25<light>%</light></span> off</h2>
                            <p>Subscribe to the Molla eCommerce newsletter to receive timely updates from your favorite
                                products.</p>
                            <form action="#">
                                <div class="input-group input-group-round">
                                    <input type="email" class="form-control form-control-white"
                                        placeholder="Your Email Address" aria-label="Email Adress" required>
                                    <div class="input-group-append">
                                        <button class="btn" type="submit"><span>go</span></button>
                                    </div>
                                </div>
                            </form>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="register-policy-2" required>
                                <label class="custom-control-label" for="register-policy-2">Do not show this popup
                                    again</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2-5col col-lg-5 ">
                        <img src="/site/assets/images/popup/newsletter/img-1.jpg" class="newsletter-img" alt="newsletter">
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Plugins JS File -->
    <!-- <script src="/site/assets/js/index.js"></script> -->
    <script src="/site/assets/js/jquery.min.js"></script>
    <script src="/site/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/site/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/site/assets/js/jquery.waypoints.min.js"></script>
    <script src="/site/assets/js/superfish.min.js"></script>
    <script src="/site/assets/js/owl.carousel.min.js"></script>
    <script src="/site/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/site/assets/js/jquery.plugin.min.js"></script>
    <script src="/site/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/site/assets/js/jquery.countdown.min.js"></script>
    <!-- Main JS File -->
    <script src="/site/assets/js/main.js"></script>
    <script src="/site/assets/js/demos/demo-3.js"></script>
</body>


<!-- molla/index-3.html  22 Nov 2019 09:55:58 GMT -->

</html>