<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
<script>
       Vue.config.productionTip = false;

Vue.config.devtools = false;


import axios from 'axios'
var app = new Vue({
    el: '#app',
    data: {

        list: [],
        currentPage: this.$route.query.page || 1,
        pageSize: this.$route.query.size || 1,
        totalPage: 0


    },
    mounted() {
        // Call the goToPage function when the component is mounted
        this.goToPage(this.currentPage);
    },
    computed: {
        pagesToShow() {
            let startPage = Math.max(2, this.currentPage - 2)
            let endPage = Math.min(this.totalPages - 1, this.currentPage + 2)
            let pages = []

            for (let i = startPage; i <= endPage; i++) {
                pages.push(i)
            }

            return pages
        }
    },
    methods: {

        add() {
            let formData = new FormData();
            if (this.brand.logo) {
                formData.append('logo', this.brand.logo)
            }
            formData.append('name', this.brand.name)
            formData.append('brandId', this.brand.brandId)

            axios.post('/admin/brand/insert', formData)
                .then((res) => {
                    const message = this.brand.brandId ? 'Cập nhật thương hiệu thành công!' : 'Thêm thương hiệu thành công!';
                    Swal.fire('Thông báo', message, 'success');
                    this.brand = {}


                })
                .catch((error) => {
                    console.log(error);
                    Swal.fire('Lỗi', 'Thêm thương hiệu không thành công', 'error');
                })

        },

        goToPage(pageNumber) {
            this.currentPage = pageNumber;

            axios.get('/admin/brand/pagination?page=${this.currentPage}&size=${this.pageSize}')
                .then(response => {
                    this.list = response.data.content;
                    this.totalPages = response.data.totalPages;
                    console.log(this.list);

                    this.$router.push({ path: this.$route.path, query: { page: this.currentPage, size: this.pageSize } });
                })
                .catch(error => {
                    console.log(error);
                });
        },

        setSize: function (size) {
            this.pageSize = size;
            this.currentPage = 1;

            axios.get("/admin/brand/pagination?page=1" + "&size=" + this.pageSize)
                .then(response => {
                    this.list = response.data.content;
                    this.totalPages = response.data.totalPages;

                    this.$router.push({ query: { page: this.currentPage, size: this.pageSize } });
                })
                .catch(error => {
                    console.log(error);
                });
        },

        deleteBrand: function (id) {
            axios.get('/admin/brand/delete/' + id)
                .then(response => {
                    this.pagination();
                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer);
                            toast.addEventListener('mouseleave', Swal.resumeTimer);
                        }
                    });

                    Toast.fire({
                        icon: 'success',
                        title: 'Xóa thương hiệu thành công'
                    });
                })
                .catch(error => {
                    Swal.fire(
                        'Lỗi',
                        'Xóa thương hiệu không thành công',
                        'error'
                    );
                });
        }
    }





})



</script>
</html>